<div class="hero-unit opacity-60 margin-top-160">
  <h1>Welcome to 15 a-side</h1>
  <p>Create a page for you, your club and your county. Bring the GAA community online.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Sign up
    </a>
  </p>
</div>